:root {
  --primary-color-Serdaigle: rgba(53, 71, 71, 0.854);
  --secondary-color-Serdaigle: rgba(14, 26, 64, 0.929);
  --dark: #001500;
  --light: #f8fdf0;
}

#timer.Serdaigle {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0.4em 0.04em;
  background-color: var(--secondary-color-Serdaigle);
  border: solid var(--primary-color-Serdaigle);
  border-radius: 1.2em;
  color: var(--light);
  @media screen and (min-width: 992px) {
    margin: 7% 15% 15% 10%;
    border-radius: 6em;
  }
}

#twp-popup-footer #Serdaigle {
  background-color: var(--secondary-color-Serdaigle);
  width: 100%;
  line-height: 2.7em;
  margin: 0.3em;
  padding: 0 1em;
  font-size: 1em;
  text-align: center;
  color: var(--light);
  text-shadow: 1px 1px 1px var(--dark);
  border-radius: 1.5em;
  background-color: var(--secondary-color-Serdaigle);
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(141, 140, 143, 0.646);
}

#twp-popup-footer #Serdaigle:focus {
  background-color: rgb(28, 115, 181);
}

.answer-btn.Serdaigle {
  border: 0;
  margin: 0.8em 0.3em;
  line-height: 3em;
  font-size: 1em;
  text-align: center;
  color: var(--light);
  text-shadow: 1px 1px 1px var(--dark);
  border-radius: 1.5em;
  background-color: var(--primary-color-Serdaigle);
  cursor: pointer;
  @media screen and (min-width: 992px) {
    margin: 1em 3.5em;
    line-height: 4.2em;
    font-size: 1.3em;
    border-radius: 2.2em;
  }
}

.answer-btn:hover.Serdaigle {
  background-color: var(--secondary-color-Serdaigle);
}

.answer-btn.selected.Serdaigle {
  background-color: var(--secondary-color-Serdaigle);
}

#validate.Serdaigle {
  width: 100%;
  line-height: 2.7em;
  margin-top: 0.6em;
  padding: 0 1em;
  font-size: 1em;
  text-align: center;
  color: var(--light);
  text-shadow: 1px 1px 1px var(--dark);
  border-radius: 1.5em;
  background-color: var(--secondary-color-Serdaigle);
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
  @media screen and (min-width: 992px) {
    max-width: 30%;
    margin-left: 35%;
    margin-right: 35%;
    line-height: 3.8em;
    border-radius: 2.2em;
  }
}

#validate:active.Serdaigle {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

