:root {
  --primary-color: rgba(192, 156, 40, 0.964);
  --secondary-color: rgb(153, 33, 17);
  --dark: #001500;;
  --light: #f8fdf0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "openSans";
}

@font-face {
  font-family: "harryPotter";
  src: url(../public/fonts/HARRYP__.TTF);
}

@font-face {
  font-family: "openSans";
  src: url(../public/fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}

a {
  text-decoration: none;
  font-weight: bold;
}

a:visited {
  color: var(--light);
}

h1 {
  font-family: "harryPotter";
  font-size: 3em;
  text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 1em rgb(66, 190, 44), 0 0 0.2em rgb(65, 98, 127);
  padding: 0.5em 0;
  color: rgb(210, 209, 203);
  }

body { 
  background-image: url(../public/images/parchemin.png);
}

header  {
  width: 100%;
  min-height: 7em;
  text-align: center;
  background-image: url(../public/images/img_header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: var(--light);
  padding: 1.5em;
}






.elementTop {
  margin-top: 0.1em;
  display: grid;
  grid-template-columns: 75% 25%;
  padding: 0 0.5em;
  
}

#Ariane {
  width: 105%;
  align-self: center;
}

#timer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.417);
  color: var(--light);
  
}

#timer span {
  font-weight: bolder;
  font-size: large;
  padding-right: 0.2em;
}

.timer-icon {
  width: 3em;
  height: 2.5em;
  margin-right: 10px;
}




.blockQuestion {
  margin: 0.5em 0.2em;
}

.listReponse {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
}

.listReponse legend {
  font-weight: bold;
  text-align: center;
}

.answer-btn {
  border: 0;
  margin: 0.5rem 0;
  line-height: 3em;
  font-size: 1rem;
  text-align: center;
  color: var(--light);
  text-shadow: 1px 1px 1px var(--dark);
  border-radius: 1.5em;
  background-color: var(--primary-color);
  width: 100%;
  cursor: pointer;
}

.answer-btn:hover {
  background-color: var(--secondary-color);
}

.answer-btn.selected {
  background-color: var(--secondary-color);
}

#validate {
  width: 100%;

  border: 0;
  line-height: 2.7;
  margin-top: 0.3em;
  padding: 0 1em;
  font-size: 1rem;
  text-align: center;
  color: var(--light);
  text-shadow: 1px 1px 1px var(--dark);
  border-radius: 1.5em;
  background-color: var(--secondary-color);
  box-shadow:
    inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}
  

#validate:active {
  
  box-shadow:
    inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
 }


 footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5em;
 }


